<!--<div class="market">-->
<!--  <button mat-button color="primary" type="submit" (click)="editItemMode()">-->
<!--    Создать объявление-->
<!--  </button>-->
<!--  <div>-->
<!--    @if(isEdit){-->
<!--    <app-market-form (onClose)="closeEditItemMode()"></app-market-form>-->
<!--    }-->
<!--  </div>-->
<!--  <div class="market-list">-->
<!--    @for(item of (marketItems$ | async); track item.id){-->
<!--    <app-market-item [item]="item"></app-market-item>-->
<!--    }-->
<!--  </div>-->
<!--</div>-->

<div class="market">
  <button mat-button color="primary" type="submit" (click)="editItemMode()" class="create-btn">
    Создать объявление
  </button>

  @if(isEdit) {
    <div class="form-wrapper">
      <app-market-form (onClose)="closeEditItemMode()"></app-market-form>
    </div>
  }

  <div class="market-list">
    @for(item of (marketItems$ | async); track item.id) {
      <app-market-item [item]="item"></app-market-item>
    }
  </div>
</div>
